/**@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap&effect=shadow-multiple|fire-animation');**/
/**replace .......googleapis.com/css2?family=P...... (version 2) by com/css?     **/
html{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('Images/Lonavala.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
/*keep the position to relative, because ye ladscape image cut ho jayega ya fir chota image open hoga mobile par dekhne se.*/
    background-position:inherit;
    /*width:100vw;*/
    height: 200vh;
    margin: 0;
    padding:0;
    max-width:100%;
    margin:auto;
    /**
    background-color: aqua;
    **/
    /**
    background-image:url('For Website/newIMG20200305200353.jpg');
    **/
    /** background-size:100%;
    background-repeat: no-repeat;
    background-position:5% 20%;
    background-attachment:scroll;
    height:100%;
    width:100%;**/
}
p{
    color:rgb(255, 0, 174);
    padding:25px;
    font-size:50px;
    font-family:Georgia, Helvetica, sans-serif;
    text-align:center;
    font-weight:bolder;
    text-shadow: 4px 4px 2px white;
    /**font-family: 'Poppins', sans-serif;**/

    @media screen and (min-width:601px){
    }

}

p1{
   color:rgb(255, 60, 0);
    font-size:28px;
    font-family:verdana, Helvetica, sans-serif;
    text-align:center;
    font-weight:bolder;
    text-shadow: 1px 1px 1px rgb(237, 244, 237);
    @media screen and (min-width:601px){
    }
}
p2{
    color:rgb(255, 60, 0);
    /*padding:25px;*/
    font-size:28px;
    font-family:verdana, Helvetica, sans-serif;
    text-align:center;
    font-weight:bolder;
    text-shadow: 1px 1px 1px rgb(237, 244, 237);
    @media screen and (min: width 601px){
    }
}
p3{
    /*padding:25px;*/
    color:rgb(255, 60, 0);
    font-size:28px;
    font-family:verdana, Helvetica, sans-serif;
    text-align:center;
    font-weight:bolder;
    text-shadow: 1px 1px 1px rgb(237, 244, 237);
        @media screen and (min: width 601px){
    }
}
p4{
    /*padding:25px;*/
    color:rgb(255, 60, 0);
    font-size:28px;
    font-family:verdana, Helvetica, sans-serif;
    text-shadow: 2px 1px 5px rgb(104, 238, 95);
    text-align:center;
    font-weight:bolder;
    text-shadow: 1px 1px 1px rgb(237, 244, 237);
    @media screen and (min-width:601px){
    }
}
p5{
    /*padding:25px;*/
    color:rgb(255, 60, 0);
    font-size:28px;
    font-family:verdana, Helvetica, sans-serif;
    text-align:center;
    font-weight:bolder;
    text-shadow: 1px 1px 1px rgb(237, 244, 237);
    @media screen and (min-width:601px){
    }
}
p6{
    /*padding:25px;*/
    color:rgb(255, 60, 0);
    font-size:28px;
    font-family:verdana, Helvetica, sans-serif;
    text-align:center;
    font-weight:bolder;
    text-shadow: 1px 1px 1px rgb(237, 244, 237);
    @media screen and (min-width:601px){
    }
}
p7{
    /*padding:25px;*/
    color:antiquewhite;
    font-size:25px;
    font-weight:bolder;
    font-family:verdana, Helvetica, sans-serif;
    text-align:center;
        @media screen and (min-width:601px){
    }
}
p8{
    /*padding:25px;*/
    color:rgb(255, 60, 0);
    font-size:28px;
    font-family:verdana, Helvetica, sans-serif;
    text-align:center;
    font-weight:bolder;
    text-shadow: 1px 1px 1px rgb(237, 244, 237);
    @media screen and (min-width:601px){
    }
}
p9{
    /*padding:25px;*/
    color:rgb(255, 60, 0);
    font-size:28px;
    font-weight:bolder;
    font-family:verdana, Helvetica, sans-serif;
    text-align:center;
    text-shadow: 1px 1px 1px rgb(237, 244, 237);
    @media screen and (min-width:601px){
    }
}